<p id="notice"><%= notice %></p>

<% @jobs.each do |job| %>
    <div class="list-group">

      <a class="list-group-item">
        <h4 class="list-group-item-heading"><%= job.title %></h4>
        <h5 class="list-group-item-heading"><strong><%= job.company %></strong></h5><br>
        <span class="list-group-item-text"><%= job.snippet %>...</span><br><br>
        <span><%= job.date %></span>

        <a href=""></a>
        <button type="button" class="btn"><%= link_to 'Show', job %></button>
        <button type="button" class="btn"><%= link_to 'Edit', edit_job_path(job) %></button>
        <button type="button" class="btn"><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></button>

      </a> <!-- end of list item -->
    </div>
<% end %>

